.orderDetailPage {
    width: 100%;
    background-color: #111111;
    height: auto;
    color: white;
}

/* .orderPage {
    width: 100%;
    background-color: #111111;
    height: auto;
    color: white;
    padding: 10px 0;
} */

.orderBanner {
    width: 100%;
    /* min-height: 250px; */
    background-color: #222222;
    border-radius: 5px;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #FF4C00;
    line-height: 13px;
}

.orderBanner>div {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    word-wrap: break-word;
}

/* .orderBanner div{
    padding: 5px 0;
    margin-top: 10px;
    font-size: 12px;
} */
.requirement>div {
    padding: 5px 0;
    word-wrap: break-word;
}

.imgClass {
    width: 110px;
    min-height: 110px;
    object-fit: contain;
    background-color: #222222;
    justify-self: end;
    align-self: flex-end;
}

.orderBtn {
    width: 70%;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    background-color: #FFFF00;
}

.orderBtn.am-button.am-button-active {
    background-color: rgba(255, 152, 38, 1);
    color: rgba(255, 255, 255, 1);
}


.orderModalChange {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.orderModalChange.am-modal.am-modal-transparent .am-modal-content {
    border-radius: 0;
    height: 667px;
    background-color: rgba(0, 0, 0, 0);

}

.orderModalChange .am-modal-close {
    /* padding: 10px 10px; */
    /* margin-top: 15px; */
    padding: 15px 5px;
}

.modalImgClass {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #222222;
}

.orderModalChange .am-modal-content .am-modal-body {
    padding: 0;
}

.checkPart {
    width: 100%;
    min-height: 400px;
    background-color: #222222;
    border-top: 2px solid #333333;
}

.checkPart div {
    padding: 5px 0;
    font-weight: 600;
}

.checkImgBanner {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.opinionClass {
    background-color: #333333;
    line-height: 15px;
    border-radius: 5px;
    width: 100%;
    min-height: 45px;
}

.checkGoodIcon {
    width: 20px;
    height: 20px;
    background-image: url('../../../assets/good.png');
    background-size: 100% 100%;
}
.orderDetailDataPacketIcon{
    width: 31px;
    height: 35px;
    background-image: url('../../../assets/orderDetailDataPacketIcon.png');
    background-size: 100% 100%;
    align-self: center;
}

::-webkit-scrollbar {
    display: none;

}
