.agreementPage {
    min-height: calc(100VH - 50px);
    width: 100VW;
    background-color: #111111;
}

::-webkit-scrollbar {
    display: none;
}

p {
    text-indent: 2rem;
    text-align: start;
    word-break: inherit;
    line-height: 1.1rem;
}

strong {
    line-height: 1.5rem;
}