.homeContainer {}

.header {
    // align-items: center;
    display: flex;
    height: 150px;
    font-size: 12px;
    color: rgba(22, 24, 35, 0.5);
    background-color: #fff;
    padding: 20px;
    width: 100%;

    div>span {
        color: #161823;
        margin-right: 4px;
    }
}

.headerAvatar {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 24px;
}

.headerStat {
    width: 100%;
}

.headerUserName {
    font-size: 20px;
    line-height: 28px;
    color: #161823;
    font-weight: 500;
}

.headerInfos {
    margin-top: 14px;
    display: flex;
}

.headerInfoItem {
    margin-right: 20px;
}

.headerDescription {
    margin-top: 14px;
}

.authBtn {
    width:120px;
    height: px;
    border-color: #cecece;
    border-radius: 25px;
}

.headerTag {
    align-self: center;
}

.homeBanner {
    margin: 20px 0;
}

.bannerItem {
    width: 900px;
    height:100px;
    text-align: center;border-radius: 12px;
}

.dataTitle {
    height: 32px;
    font-size: 20px;
}

.dataTabs {
    :global {
        .ant-card-head {
            border: none;
        }
    }
}

.tabText {
    font-size: 12px;
    line-height: 17px;
    color: rgba(22, 24, 35, 0.75);
}

.tabCard {
    background: #EEEEEE;
    border-radius: 10px;
}

.tabCardCount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabNum {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #161823;
}

.tabAddNum {
    font-size: 12px;
    line-height: 14px;
    color: #fe2341;
}

.walletIncome {
    padding-left: 40px;
    border-left: 1px;
}

.walletTitle {
    height: 32px;
    font-size: 20px;
}

.walletItem {
    padding: 12px 0;

    .itemText {
        font-size: 12px;
        line-height: 17px;
        color: rgba(22, 24, 35, 0.75);
    }

    .itemNum {
        padding-top: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #161823;
    }
}
