.creatorCenterPage{
    min-height: calc(100VH - 50px);
    width: 100VW;
    background-color: #111111;
}

.creatorCenterListChange .am-list-body{
    background-color: #111111;
}

.creatorCenterListChange .am-list-item {
    background-color: black;
    border-radius: 0;
    /* padding-top: 10px; */
    margin-bottom: 10px;
}
.creatorCenterListChange .am-list-item .am-list-line .am-list-content{
    color:white
}
.creatorCenterListChange .am-list-item .am-list-line{
    padding: 8px 10px;
}

/* 删除组件中多余的边框白线 */
/* html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line::after{
    height: 0;
} */
html:not([data-scale]) .creatorCenterListChange .am-list-body div:not(:last-child) .am-list-line::after{
    height: 0;
}
html:not([data-scale]) .creatorCenterListChange .am-list-body::before{
    height: 0;
}
html:not([data-scale]) .creatorCenterListChange .am-list-body::after{
    height: 0;
}