.shareCodePage {
    min-height: calc(100VH - 50px);
    width: 100VW;
    background-color: #111111;
}

.shareCodePage .Banner {
    background-image: url('../../assets/mineShareCodeBg.png');
    min-height: calc(100VH - 110px);
    width: 100VW;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}

.shareCodePage .Banner .body {
    background-image: url('../../assets/mineShareCodeBody.png');
    height: 285px;
    width: 320px;
    background-size: cover;
    margin-top: 10px;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    text-align: center;
    padding: 20px;
    position: relative;
}
.shareCodePage .Banner .body::before {
    content: '';
    position: absolute;
    background-image: url('../../assets/mineShareCodeRole.png');
    background-size: cover;
    width: 122px;
    height: 127px;
    right: -10px;
    top: -110px;
    /* background-color: tomato; */
}

.shareCodePage .Banner .body .shareCodeBorder {
    width: 62px;
    height: 62px;
    background-image: url('../../assets/mineShareCodeTextBorder.png');
    background-size: 100% 100%;
    color: black;
    text-align: center;
    line-height: 62px;
    font-size: 30px;
}

.shareCodePage .Banner .body .Btn .am-button {
    position: absolute;
    /* left: 50%; */
    bottom: 0px;
    /* transform: translateX(-50%); */
    border-radius: 0 0 10px 10px;
    left: 15px;
    width: 291px;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 15px;
    background: linear-gradient(to left,#FF5028, #FD0000);
}
.shareCodePage .Banner .body .Btn .am-button.am-button-active{
    opacity: 0.8;
}

.shareCodePage .Banner .bottom {
    width: 290px;
    height: 110px;
    background-color: rgba(17, 17, 17, 0.7);
    margin-top: 30px;
    border-radius: 10px;
}